<mat-sidenav-container class="sidenav-container">
	<button class="hamburger" mat-button (click)="sidenav.toggle()"><span>Menu</span></button>
	
	<mat-sidenav #sidenav mode="over" opened="false" fullscreen>
		<div class="nav-container">
			<mat-nav-list>
			  <!--
			  <mat-list-item *ngFor="let menuItem of menuItems">
			  	<a href="{{menuItem.url}}" matLine (click)="sidenav.toggle()">{{ menuItem.title }}</a>
			  </mat-list-item>
				-->
				<mat-list-item *ngFor="let navItem of mainMenuItems"
					routerLinkActive="selected">
					<a [routerLink] = "[navItem.path]">{{ navItem.title }}</a>
				</mat-list-item>
			</mat-nav-list>
		</div>
	</mat-sidenav>

	<app-content></app-content>

</mat-sidenav-container>

